# Repo-Specific

# Visual Studio
.vs
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.sdf
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
[Tt]est[Rr]esult*

# Resharper
_ReSharper*/


# NuGet
*.nupkg
packages/

# NuGet Exceptions
![Nn]u[Gg]et.exe 


